In [1]:

import pandas as pd
import numpy as np

## Part C - 100 Epochs

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [6]:
n_cols = predictors_norm.shape[1] # number of predictors

In [7]:

import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [8]:
from keras.models import Sequential
from keras.layers import Dense

## Defining Model

In [9]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [11]:
# build the model
model = regression_model()

In [12]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 2s - loss: 1611.8633
Epoch 2/50
 - 0s - loss: 1596.2337
Epoch 3/50
 - 1s - loss: 1580.8243
Epoch 4/50
 - 1s - loss: 1564.9252
Epoch 5/50
 - 1s - loss: 1548.6910
Epoch 6/50
 - 1s - loss: 1531.6166
Epoch 7/50
 - 1s - loss: 1513.8474
Epoch 8/50
 - 0s - loss: 1495.0476
Epoch 9/50
 - 1s - loss: 1475.5515
Epoch 10/50
 - 1s - loss: 1454.7912
Epoch 11/50
 - 1s - loss: 1433.1685
Epoch 12/50
 - 1s - loss: 1409.8364
Epoch 13/50
 - 1s - loss: 1385.6088
Epoch 14/50
 - 1s - loss: 1360.0771
Epoch 15/50
 - 1s - loss: 1332.6729
Epoch 16/50
 - 1s - loss: 1304.9000
Epoch 17/50
 - 1s - loss: 1275.4141
Epoch 18/50
 - 1s - loss: 1244.9910
Epoch 19/50
 - 0s - loss: 1213.7290
Epoch 20/50
 - 1s - loss: 1181.3526
Epoch 21/50
 - 1s - loss: 1148.5719
Epoch 22/50
 - 1s - loss: 1115.1484
Epoch 23/50
 - 1s - loss: 1081.1523
Epoch 24/50
 - 1s - loss: 1046.8396
Epoch 25/50
 - 1s - loss: 1012.0932
Epoch 26/50
 - 1s - loss: 977.3855
Epoch 27/50
 - 0s - loss: 942.8006
Epoch 28/50
 - 0s - loss: 908.6389
Epoch 29/50
 - 1s - loss: 873.9052
Epoch 30/50
 - 1s - loss: 840.2602
Epoch 31/50
 - 1s - loss: 806.8057
Epoch 32/50
 - 1s - loss: 774.2378
Epoch 33/50
 - 1s - loss: 741.6827
Epoch 34/50
 - 1s - loss: 709.8748
Epoch 35/50
 - 1s - loss: 678.8763
Epoch 36/50
 - 1s - loss: 648.9517
Epoch 37/50
 - 1s - loss: 619.3664
Epoch 38/50
 - 1s - loss: 591.3334
Epoch 39/50
 - 1s - loss: 563.9586
Epoch 40/50
 - 1s - loss: 537.8954
Epoch 41/50
 - 1s - loss: 512.7465
Epoch 42/50
 - 0s - loss: 489.0023
Epoch 43/50
 - 1s - loss: 466.4960
Epoch 44/50
 - 1s - loss: 445.0630
Epoch 45/50
 - 0s - loss: 424.8889
Epoch 46/50
 - 1s - loss: 405.5143
Epoch 47/50
 - 1s - loss: 387.7039
Epoch 48/50
 - 1s - loss: 370.9840
Epoch 49/50
 - 1s - loss: 355.3579
Epoch 50/50
 - 1s - loss: 340.8416

In [13]:

loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 841us/step

327.50393577995425

In [14]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

327.5039442517403 0.0

## Using 100 epochs - Will be max. time consuming

In [15]:

total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 115.26562756782211
MSE 2: 81.91658429883445
MSE 3: 45.952168782552086
MSE 4: 41.62511265084967
MSE 5: 41.40563400663604
MSE 6: 42.236381543107015
MSE 7: 43.459463891088
MSE 8: 32.67538791644149
MSE 9: 35.468376789278196
MSE 10: 34.92024488356507
MSE 11: 35.74905378224395
MSE 12: 32.02057039081858
MSE 13: 38.97965080606899
MSE 14: 39.43785252000136
MSE 15: 34.18315280062481
MSE 16: 30.365190610916482
MSE 17: 34.21600023905436
MSE 18: 33.05824292130455
MSE 19: 31.074452446502388
MSE 20: 33.979958747197124
MSE 21: 30.320897062233737
MSE 22: 32.21863402826501
MSE 23: 27.397568261353328
MSE 24: 31.26805604854448
MSE 25: 32.279650611013274
MSE 26: 34.5816202997004
MSE 27: 30.148901053616914
MSE 28: 30.23787981792561
MSE 29: 34.42692188151832
MSE 30: 34.29853362790203
MSE 31: 30.165478036627416
MSE 32: 29.18590947493766
MSE 33: 30.866276762632104
MSE 34: 32.49786836198233
MSE 35: 31.9821048477321
MSE 36: 38.71067703889026
MSE 37: 28.486751145915306
MSE 38: 34.35678458599597
MSE 39: 32.90670076388757
MSE 40: 29.173851025528894
MSE 41: 33.63716393381261
MSE 42: 28.588407214019675
MSE 43: 33.42088535148349
MSE 44: 33.18036867654054
MSE 45: 36.4403366409845
MSE 46: 32.90140819858193
MSE 47: 31.17932822712031
MSE 48: 33.3509736971562
MSE 49: 32.56782799631261
MSE 50: 36.2867528798125


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 36.50107226055751
Standard Deviation: 13.692424069598703