In [1]:
import pandas as pd
import numpy as np

## Part B: With Normalization

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [5]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [6]:
from sklearn.model_selection import train_test_split

## Normalizing

In [8]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [9]:
from keras.models import Sequential
from keras.layers import Dense

In [10]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## train and test

In [12]:
# build the model
model = regression_model()

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 1s - loss: 1607.3451
Epoch 2/50
 - 0s - loss: 1593.3182
Epoch 3/50
 - 0s - loss: 1580.1678
Epoch 4/50
 - 0s - loss: 1567.2483
Epoch 5/50
 - 0s - loss: 1554.6555
Epoch 6/50
 - 0s - loss: 1541.9317
Epoch 7/50
 - 0s - loss: 1528.8044
Epoch 8/50
 - 0s - loss: 1515.2037
Epoch 9/50
 - 0s - loss: 1500.7682
Epoch 10/50
 - 0s - loss: 1485.5047
Epoch 11/50
 - 0s - loss: 1469.5090
Epoch 12/50
 - 0s - loss: 1452.4051
Epoch 13/50
 - 0s - loss: 1434.1266
Epoch 14/50
 - 0s - loss: 1415.1524
Epoch 15/50
 - 0s - loss: 1394.6304
Epoch 16/50
 - 0s - loss: 1373.5716
Epoch 17/50
 - 0s - loss: 1350.8041
Epoch 18/50
 - 0s - loss: 1327.0310
Epoch 19/50
 - 0s - loss: 1302.1172
Epoch 20/50
 - 0s - loss: 1276.1361
Epoch 21/50
 - 0s - loss: 1248.7459
Epoch 22/50
 - 0s - loss: 1220.4985
Epoch 23/50
 - 0s - loss: 1191.3429
Epoch 24/50
 - 0s - loss: 1161.0110
Epoch 25/50
 - 0s - loss: 1130.5567
Epoch 26/50
 - 0s - loss: 1099.1781
Epoch 27/50
 - 0s - loss: 1067.5316
Epoch 28/50
 - 0s - loss: 1035.2124
Epoch 29/50
 - 0s - loss: 1003.0319
Epoch 30/50
 - 0s - loss: 970.6302
Epoch 31/50
 - 0s - loss: 937.9839
Epoch 32/50
 - 0s - loss: 906.0727
Epoch 33/50
 - 0s - loss: 873.9880
Epoch 34/50
 - 0s - loss: 842.4377
Epoch 35/50
 - 0s - loss: 811.1553
Epoch 36/50
 - 0s - loss: 780.2068
Epoch 37/50
 - 0s - loss: 749.9765
Epoch 38/50
 - 0s - loss: 719.9884
Epoch 39/50
 - 0s - loss: 690.8173
Epoch 40/50
 - 0s - loss: 662.3320
Epoch 41/50
 - 0s - loss: 634.2347
Epoch 42/50
 - 0s - loss: 607.3709
Epoch 43/50
 - 0s - loss: 580.5672
Epoch 44/50
 - 0s - loss: 555.1524
Epoch 45/50
 - 0s - loss: 530.4497
Epoch 46/50
 - 0s - loss: 506.3922
Epoch 47/50
 - 0s - loss: 483.2664
Epoch 48/50
 - 0s - loss: 460.9738
Epoch 49/50
 - 0s - loss: 439.7192
Epoch 50/50
 - 0s - loss: 419.5784

In [13]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 349us/step

405.1426920967966

In [14]:
from sklearn.metrics import mean_squared_error

In [15]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

405.14269419177515 0.0

## MSEs for 50 times

In [16]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 153.6880751674615
MSE 2: 137.65442887093258
MSE 3: 98.1069573461045
MSE 4: 88.99941486988253
MSE 5: 74.78746257399278
MSE 6: 65.6862362364735
MSE 7: 60.58827545264778
MSE 8: 43.39202619139045
MSE 9: 46.14095622436128
MSE 10: 44.05195531258691
MSE 11: 39.94657325127364
MSE 12: 38.75806376386229
MSE 13: 44.515918453920236
MSE 14: 46.762136675393315
MSE 15: 37.976604881410076
MSE 16: 35.081850693835406
MSE 17: 38.25687342399918
MSE 18: 36.493134137496206
MSE 19: 36.99455698254039
MSE 20: 37.55587036478481
MSE 21: 34.403995600333104
MSE 22: 34.120439640526634
MSE 23: 30.99146964557734
MSE 24: 32.81885096479002
MSE 25: 35.46328750783186
MSE 26: 35.05364295194064
MSE 27: 32.10173447000942
MSE 28: 31.103611819566645
MSE 29: 39.91825485229492
MSE 30: 35.13051399058123
MSE 31: 31.88320874704898
MSE 32: 30.82897292448865
MSE 33: 30.70689224193783
MSE 34: 33.796737683243734
MSE 35: 32.344373363507216
MSE 36: 38.39903874073214
MSE 37: 30.23867571623966
MSE 38: 34.47571450143956
MSE 39: 32.61856334649244
MSE 40: 28.50064654797798
MSE 41: 35.8128749760995
MSE 42: 28.821575769714553
MSE 43: 31.589000973500866
MSE 44: 37.188474229238565
MSE 45: 35.07595152376539
MSE 46: 34.47591398911955
MSE 47: 32.24756364297713
MSE 48: 34.3591124031536
MSE 49: 34.24481414745541
MSE 50: 34.16824622910385


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 44.166390121877065
Standard Deviation: 25.039536958824787