In [1]:
import pandas as pd
import numpy as np

## Part D: Epochs 50 but More hidden layers

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:

concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [4]:

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [5]:

n_cols = predictors_norm.shape[1] # number of predictors

In [6]:
import keras

from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:521: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:522: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:523: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

## Using 3 Hidden layers now

In [7]:

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [9]:
model = regression_model()

In [10]:

# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 4s - loss: 1594.4538
Epoch 2/50
 - 1s - loss: 1579.8290
Epoch 3/50
 - 1s - loss: 1562.0051
Epoch 4/50
 - 1s - loss: 1532.3734
Epoch 5/50
 - 1s - loss: 1484.4727
Epoch 6/50
 - 1s - loss: 1409.6790
Epoch 7/50
 - 1s - loss: 1297.8431
Epoch 8/50
 - 1s - loss: 1130.2917
Epoch 9/50
 - 1s - loss: 901.1359
Epoch 10/50
 - 2s - loss: 654.2074
Epoch 11/50
 - 2s - loss: 435.8553
Epoch 12/50
 - 1s - loss: 316.2999
Epoch 13/50
 - 1s - loss: 267.9612
Epoch 14/50
 - 1s - loss: 236.8745
Epoch 15/50
 - 1s - loss: 213.6914
Epoch 16/50
 - 1s - loss: 197.4521
Epoch 17/50
 - 1s - loss: 187.0622
Epoch 18/50
 - 1s - loss: 179.0162
Epoch 19/50
 - 2s - loss: 173.8083
Epoch 20/50
 - 2s - loss: 169.2589
Epoch 21/50
 - 2s - loss: 166.2392
Epoch 22/50
 - 2s - loss: 163.4483
Epoch 23/50
 - 2s - loss: 160.2248
Epoch 24/50
 - 2s - loss: 157.8526
Epoch 25/50
 - 1s - loss: 155.9768
Epoch 26/50
 - 1s - loss: 153.6924
Epoch 27/50
 - 1s - loss: 152.4052
Epoch 28/50
 - 1s - loss: 150.1825
Epoch 29/50
 - 1s - loss: 148.6252
Epoch 30/50
 - 1s - loss: 147.1338
Epoch 31/50
 - 2s - loss: 145.6535
Epoch 32/50
 - 1s - loss: 144.2677
Epoch 33/50
 - 1s - loss: 142.8511
Epoch 34/50
 - 1s - loss: 141.3032
Epoch 35/50
 - 1s - loss: 139.8748
Epoch 36/50
 - 1s - loss: 138.4640
Epoch 37/50
 - 2s - loss: 136.8509
Epoch 38/50
 - 1s - loss: 135.1239
Epoch 39/50
 - 1s - loss: 134.0670
Epoch 40/50
 - 2s - loss: 132.5849
Epoch 41/50
 - 2s - loss: 130.9906
Epoch 42/50
 - 1s - loss: 129.3782
Epoch 43/50
 - 1s - loss: 127.3165
Epoch 44/50
 - 1s - loss: 125.2286
Epoch 45/50
 - 1s - loss: 123.1457
Epoch 46/50
 - 1s - loss: 120.7942
Epoch 47/50
 - 1s - loss: 118.2411
Epoch 48/50
 - 1s - loss: 115.8985
Epoch 49/50
 - 1s - loss: 113.4473
Epoch 50/50
 - 1s - loss: 110.9941

In [11]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 1s 3ms/step

114.26027447351746

In [12]:
from sklearn.metrics import mean_squared_error

In [13]:

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

114.26027741253608 0.0

## Repeating 50 times

In [14]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 47.12959946320667
MSE 2: 47.8211125494207
MSE 3: 34.240209221454116
MSE 4: 32.075243014733765
MSE 5: 31.523132953828977
MSE 6: 32.623105441096534
MSE 7: 34.55490936970634
MSE 8: 27.807426329183734
MSE 9: 29.74062481975864
MSE 10: 28.051728881292746
MSE 11: 27.979892039376168
MSE 12: 23.650296516788817
MSE 13: 28.647086146579976
MSE 14: 30.029141497071894
MSE 15: 26.20740062750659
MSE 16: 17.78374451263823
MSE 17: 23.939369726335347
MSE 18: 24.49841054897864
MSE 19: 23.36974879144465
MSE 20: 28.191817138573114
MSE 21: 22.676785589421836
MSE 22: 24.99609295990089
MSE 23: 16.893312799891994
MSE 24: 22.546296993119817
MSE 25: 23.53324915444581
MSE 26: 25.924818884593382
MSE 27: 21.11557552806768
MSE 28: 22.636128027462266
MSE 29: 25.012740243214235
MSE 30: 23.01442151856654
MSE 31: 20.364936600225256
MSE 32: 21.998619888206903
MSE 33: 20.175331245348293
MSE 34: 22.678204280273043
MSE 35: 24.39391466406171
MSE 36: 23.596661922615322
MSE 37: 17.618260744705942
MSE 38: 22.885749779858635
MSE 39: 22.84524294782225
MSE 40: 18.10730321816256
MSE 41: 23.079973387486728
MSE 42: 20.243738032467544
MSE 43: 21.9152188933783
MSE 44: 24.613971395399965
MSE 45: 24.376186025181248
MSE 46: 21.616145630870438
MSE 47: 19.871558982577525
MSE 48: 20.938184515943806
MSE 49: 21.714372727477436
MSE 50: 22.5541623186525


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 25.276022927312106
Standard Deviation: 6.124690072379351